Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/

# added by GitSavvy
/Package Control.merged-ca-bundle

# added by GitSavvy
/sublime-text-3.sublime-workspace

/GoSublime/
